<mat-card class="max-w-lg">
  <mat-card-content>
    <div class="flex gap-x-4">
      <mat-form-field class="flex-grow" appearance="outline">
        <mat-label>Search by building</mat-label>
        <mat-icon matPrefix class="icon-prefix-padding">search</mat-icon>
        <input type="text" matInput
               placeholder="Ex. Sadler Center"
               [formControl]="buildingSelector"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" hideSingleSelectionIndicator>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="w-40" appearance="outline">
        <mat-select [(value)]="selectedFloor" hideSingleSelectionIndicator>
          <mat-option *ngFor="let floor of getPossibleFloors()" [value]="floor">
            {{floor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <p class="text-md pl-3">
        or <span class="underline hover:text-blue-500 hover:cursor-pointer" (click)="getCurrentLocation()">use current location</span>
      </p>
    </div>
  </mat-card-content>
</mat-card>
