<div class="mat-app-background">
  <app-search-pane class="absolute top-6 left-8 z-30 max-h-[13.75rem]" (selectedFountain)="onSelectedFountain($event)"></app-search-pane>
  <app-fountain-description class="absolute z-30 left-8 top-[15.3rem]" [(fountain)]="fountain"></app-fountain-description>

  <div class="absolute top-6 right-8 z-30">
    <app-feedback-form></app-feedback-form>
  </div>
  <app-map class="z-0 fixed" [fountain]="fountain" (selectedFountain)="onSelectedFountain($event)"></app-map>
</div>
<app-map></app-map>


