// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cypher-viii-primary: (
  50: #e2ebe8,
  100: #b8cdc6,
  200: #88aba0,
  300: #588979,
  400: #35705d,
  500: #115740,
  600: #0f4f3a,
  700: #0c4632,
  800: #0a3c2a,
  900: #052c1c,
  A100: #66ffb8,
  A200: #33ffa0,
  A400: #00ff88,
  A700: #00e67a,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$cypher-viii-accent: (
  50: #f7f3eb,
  100: #eae0ce,
  200: #dccbad,
  300: #ceb68c,
  400: #c4a774,
  500: #b9975b,
  600: #b28f53,
  700: #aa8449,
  800: #a27a40,
  900: #93692f,
  A100: #ffeeda,
  A200: #ffd8a7,
  A400: #ffc174,
  A700: #ffb65a,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// The warn palette is optional (defaults to red).
$cypher-viii-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cypher-viii-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($cypher-viii-primary),
      accent: mat.define-palette($cypher-viii-accent),
      warn: $cypher-viii-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($cypher-viii-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
